body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #222;
}

.container {
  width: 100%;
  margin: auto;
}

.header {
  background: #998f76;
  color: white;
  padding: 20px 266px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 50px;
}

.nav {
  display: flex;
  gap: 30px;
}

.title-container {
  text-align: center;
  padding: 27px;
}

.padding {
  padding: 0 266px;
}

h1.title {
  color: #4E504E;
  font-weight: bold;
  font-size: 12pt;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: white;
}

.nav-item img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}

.main {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #CCCCCC;
}

.title {
  text-align: center;
}

.alert-box {
  background: #FFFFF4;
  padding: 20px;
  border-radius: 6px;
  border-radius: 10px;
  border: 1px solid #CCCCCC;
  margin-bottom: 40px;
  color: #717171;
}

.alert-box p {
  font-size: 9pt;
}

.login-section {
  display: flex;
  gap: 3rem;
  padding: 0 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 25px;
  width: 35%;
}

.btn {
  width: 100%;
  flex: 1;
  padding: 15px;
  margin: 0.7rem 0;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background: #998f76;
  color: white;
  transition: 0.2s;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  text-align: center;
}

.btn:hover {
  background: #003366;
  text-decoration: none;
}

.info-text {
  font-size: 10pt;
  line-height: 1.6;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: #998f76;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.footer {
  height: 80px;
}